<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登陆</title>
    <script src="../../lib/vue.min.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
</head>

<body>
    <input type="text" @input="changed" v-model="wd">
    <ul v-for="i in arr">
        <li>{{i}}</li>
    </ul>
    <script>
        new Vue({
            el:"body",
            data:{
                wd:'',
                arr:[]
            },
            methods:{
                changed:function(){
                    this.$http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?',
                    {
                        params:{
                            wd: this.wd
                        },jsonp: 'cb'
                    }).then(function(data){
                        console.log(data);
                    },function(){

                    })
                }
            }

        })
    </script>
</body>

</html>