<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form class="form">
            <div class="from-group">
                <label>姓名</label>
                <input type="text" v-model="nameNode">   
            </div>
            <div class="from-group">
                <label>年龄</label>
                <input type="text" v-model="ageNode">
            </div>
        </form>
        <input type="button" value="确定" @click="add">
        <input type="button" @click="ageSort" value="按年龄排序">
        <table border="1" width="400">
            <thead>
                <tr>
                    <td>序号</td>
                    <td>姓名</td>
                    <td>年龄</td>
                    <td>选项</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="i in msg">
                    <td>{{$index}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.age}}</td>
                    <td>
                        <input type="button" value="删除" @click="deleteQ($index)">
                    </td>
                </tr>
                <tr v-show=msg.length?false:true>
                    <td colspan="4">请输入数据</td>
                </tr>
                <tr v-show=msg.length?true:false>
                    <td colspan="4"><button @click="deleteAll">删除全部</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="../lib/vue.min.js"></script>
    <script>
        new Vue({
            el:"body",
            data:{
                nameNode:'',
                ageNode :'',
                msg:[
                ]
            },
            methods:{
                add:function(){
                    this.msg.push({name:this.nameNode,age:this.ageNode})
                },
                deleteQ:function(cindex){
                    this.msg.splice(cindex,1);
                },
                deleteAll:function(){
                    this.msg = [];
                },
                ageSort:function(){
                    this.msg.sort(function(json1,json2){
                        return json1.age-json2.age
                    })
                }
            }
        })
    </script>
</body>
</html>