<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue 入门</title>
    <script src="../lib/vue.js"></script>
</head>
<body>
    <div id="app">
        {{message}}
    </div>
    <div id="app2">
        <span v-bind:title="title">aaa</span>
    </div>
    <div id="app3">
        <ul>
           <li v-for="ll in item">
               {{ll.text}}
           </li> 
        </ul>
    </div>
    <div id="app4">
        <p>{{message}}</p>
        <button v-on:click="reverse">click me</button>
    </div>
    <div id="app5">
        <p>{{message}}</p>
        <input type="text" v-model="message">
    </div>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                message:"陈宇飞"
            }
        })
        var app1 = new Vue({
                el: "#app2",
                data: {
                    title: "陈宇飞"
                }
        })
        var app3 = new Vue({
                el: "#app3",
                data: {
                    item:[
                        {text:'智信为学'},
                        {text:'牛逼哄哄'},
                        {text:'666'}
                    ]
                }
        })
        var app4 = new Vue({
                el: "#app4",
                data: {
                    message: "陈宇飞"
                },
                methods:{
                    reverse:function(){
                        this.message = this.message.split("").reverse().join("");
                    }
                }
        })
        var app5 = new Vue({
            el:"#app5",
            data:{
                message:"陈宇飞"
            }
        })
    </script>
</body>
</html>