<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>vue入门</title>
	</head>
	<body>
		<div id="app">
			{{message}}
		</div>
		<div id="app2">
			<p v-bind:title="title">我叫陈宇飞</p>
		</div>
		<div id="app3">
			<p v-if="seen">If you see me</p>
		</div>
		<div id="app4">
			<ul>
				<li v-for="todo in list">
					{{todo.text}}
				</li>
			</ul>
		</div>
		<div id="app5">
			<p>{{message}}</p>
			<button v-on:click="tan">点我点我</button>
		</div>
		<div id="app6">
			<p>{{message}}</p>
			<input type="text" v-model="message" />
		</div>
		<script src="../vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var app = new Vue({
				el:'#app',
				data:{
					message:"陈宇飞"
				}
			});
			var app2 = new Vue({
				el:'#app2',
				data:{
					title:"今年23岁"
				}
			});
			var app3 = new Vue({
				el:'#app3',
				data:{
					seen:false
				}
			});
			var app4 = new Vue({
				el:'#app4',
				data:{
					list:[
						{text:'chen'},
						{text:'yu'},
						{text:'fei'}
					]
				}
			});
			var app5 = new Vue({
				el:'#app5',
				data:{
					message:"点个屁啊点"
				},
				methods:{
					tan:function(){
						this.message = this.message.split("").join("_");
					}
				}
			});
			var app6 = new Vue({
				el:'#app6',
				data:{
					message:"chenyufei"
				}
			})
			
		</script>
	</body>
</html>
