<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>全局组件</title>
    <script src="../lib/vue.min.js"></script>
</head>
<body>
    <c></c>
    <div id="box">
        <c></c>
    </div>
    <script>
        var chen = Vue.extend({
            data:function(){
                return{
                    arr:['大白','二白','三白'],
                    msg:[
                        '母的-五个月',
                        '母的-五个月',
                        '公的-不造'
                    ]
                }
            },
            template:`<h1>请别再做不好的事情</h1>
            <button v-for="i in arr">{{i}}</button>
            <div v-for="i in msg">{{i}}</div>
            `
        });
        //Vue.component('c',chen);
        new Vue({
            el:'#box',
            components:{
                'c':chen
            }
        })
    </script>
</body>
</html>