body{
	font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 36px;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6,form,img,ul,ol,li,dl,dt,dd,div,span,p{
	padding: 0;
	margin: 0;
	border: 0;
	font-style: normal;
	font-weight: normal
}
img,object{
	vertical-align: bottom
}
input,textarea,select,button{
	font-family: "Arial","Microsoft YaHei";
	padding: 0;
	margin: 0;
	font-size: 12px;
	border: 0;
	outline: 0;
	line-height: 28px;
	vertical-align: middle;
}
input.text,textarea,select{
	border: 1px solid #dcdcdc;
	padding: 0 0 0 5px;
	vertical-align: top;
}
input.text,select{
	height: 28px;
}
li{
	list-style-type: none;
	list-style: none
}
ul li{
	float: none;
}
.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both
}
.clearfix{
	*zoom: 1
}

/*公共样式*/
.border_input{
	border: 1px solid #666;
	width: 100%;
}




/*媒体查询 移动端 开始*/
@media only screen and (max-width: 600px){
    body{
    	background: #ccc;
    	padding: 0 5%;
    }
    header{
    	height: 40px;
    	background: #fff;
    	text-align: center;
    	line-height: 40px;
    }
    .userMess{
    	margin-top: 70px;
    }
    .userMess .border_input span{
		display: inline-block;
		padding-left: 15px;
    }
    .userMess .border_input input{
		display: inline-block;
		width: 65%;
    }
    .username,.password,.usercode{
    	border-radius: 5px;
    	margin-bottom: 16px;
    	background: #fff;
    	height: 43px;
    	line-height: 43px;
    	overflow: hidden;
    }
    .forgetPass{
    	display: block;
    	text-align: right;
    }
    .subBtn{
    	width: 90%;
    	height: 44px;
    	text-align: center;
    	line-height: 44px;
    	color: #fff;
    	background: brown;
    	display: block;
    	margin: 0 auto;
    	border-radius: 5px;
    }
    .nouser{
    	text-align: center;
    }

    /*注册*/
    .usercode{
    	position: relative;
    }
    .getCode{
    	display: block;
    	position: absolute;
    	width: 30%;
    	height: 41px;
    	background: #000;
    	right: 0;
    	top: 0;
    	color: #fff;
    	text-align: center;
    }
}