* {
    margin: 0;
    padding: 0;
    border: 0;
    color: #111;
    /*font-family: "Segoe UI", "Lucida Grande",  "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;*/
    font-family: "Lucida Grande",  "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}
body{
    font-size: 14px;
}
ul, li, ol {
    list-style: none;
}
i{
    font-style: normal;
}
input, textarea, button, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input{
    outline:none;
    color: #111111;
}
input::-webkit-input-placeholder{
    color: #8f8f92;
}
a {
    text-decoration: none;
}
.clear { display:block !important; clear:both !important; float:none !important; margin:0 !important; padding:0 !important; height:0; line-height:0; font-size:0; overflow:hidden;}
.clearfix { zoom:1; }
.clearfix:after { content:""; display:block; clear:both; height:0; }
.nav{
	background: #ccc;
	height: 50px;
}
.nav ul{
	float: right;
}
.nav ul li{
	float: left;
	line-height: 50px;
	margin-right: 20px;
}
nav ul li a{
	height: inherit;
}
.logo{
	float: left;
	padding-left: 20px;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 50px;
}
#banner{
	height: 700px;
	background: #777;
}
#banner #inner{
	width: 300px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 130px;
}
#inner button{
	padding: 10px 40px;
	color: #eee;
	background: #333;
}
.more{
	margin-top: 280px;
}
.intro{
	line-height: 30px;
	margin: 30px;
}

.green-section{
	text-align: center;
	padding: 100px 0;
	background: #089DB0;
}
.wrapper{
	max-width: 1080px;
	margin: 0 auto;	
}
.wrapper h2{
	color: #fff;
	font-size: 30px;
}
.hr{
	width: 100%;
	height: 2px;
	margin: 20px auto;
}
.green-section .hr{
	width: 60%;
	background: #21bcd0;
}
.sub-heading{
	font-size: 18px;
	color: #fff;
}
.green-section .icon-group{
	margin-top: 60px;
}
.green-section .icon-group .icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	background: #0D6F7C;
	transform: rotate(45deg);
	margin: 20px;
	border:2px solid #21bcd0;
}